

.main {
  background-color: #343a40;
  padding: 5vw;
  padding-top: 1em;
  min-height: 100vh;
}
.main-home {
  color: white;
}
.navbar {
  background-color: #3B5367;
  box-shadow: 2px 0px 10px black;
  background-image: url(../techy2.png);
  background-size: 90vw;
}
.navbar ul{
  margin: auto;
}
.nav-item a {
  color: white;
}

.loginmain {                                                                                                                                
  display: flex;
  flex-direction: column;
  padding-left: 25vw;
  padding-right: 25vw;
  padding-top: 1em;
  min-height: 100vh;
  text-align: center;
}
.loginmain h1, h5 {color: white;}

.login {
  padding-left: 15%;
  padding-right: 15%;
}

.textcolor {color: white;}



.users-wrapper {
  padding-top: 5vw;
  min-height: 100vh;
}

.users-parent {
  width: auto; 
}
.users-parent table {
  margin: auto;
}


.users-parent td {
  border: .01vh solid black;
  padding: .5em;
  color: #c28422;
  font-size: clamp(9px, 1.2vw, 20px);
  width: auto;
}

.logout, .msg {color: white; padding-top: 1em; margin: auto;}



.container {
  color: white;
}
















@media screen and (max-width: 60em) {
  
  .listusers {
    padding: 0;
  }
  .login {
    padding-top: 5vw;
  }
  .logo img {
    height: 20vw;
  }
  .loginmain {
    padding-left: 15vw;
    padding-right: 15vw;
  }
  .users-wrapper {
    padding: 0;
  }

}

@media screen and (max-width: 35em) {
  .logo img {
    height: 30vw;
  }
  .loginmain {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}