.main {
  background-color: #343a40;
}

.loginmain {
  display: flex;
  flex-direction: column;
  padding-left: 30vw;
  padding-right: 30vw;
  min-height: 100vh;
  justify-content: center;
  justify-items: center;
  text-align: center;
}

.login {
  padding-left: 25%;
  padding-right: 25%;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo img {
  width: 40%;
}
.formlabel-nm, .formlabel-em {
  padding-bottom: .5em;
  padding-top: 1em;
  color: white;
}
.formlabel-em {
  padding-top: 0;
}


.users-wrapper {
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 5vw;
  min-height: 100vh;
  justify-content: left;
  justify-items: center;
}

.users-parent {
  grid-template-columns: auto;
  display: grid;
  padding-left: 25vw;
  padding-right: 25vw;
}

.id {
  grid-area: id;
}
.name {
  grid-area: name;
}
.email {
  grid-area: email;
}

.users-parent td {
  border: .01vh solid black;
  padding: .5em;
  color: #c28422;
  font-size: clamp(12px, 1.2vw, 20px);
}

.logout, .welcome {color: white; padding-top: 1em;}



@media (max-width: 70em) {

  .listusers {
    padding: 0;
  }
  .login {
    padding-top: 5em;
  }
  .loginmain {
    padding-left: 5vw;
    padding-right: 5vw;
    padding: 0;
  }

}