.loginmain {                                                                                                                                
    display: flex;
    flex-direction: column;
    padding-left: 25vw;
    padding-right: 25vw;
    padding-top: 1em;
    min-height: 100vh;
    text-align: center;
  }
  .loginmain h1, h5 {color: white;}
  
  .login {
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .textcolor {color: white;}
  
  
  
  .users-wrapper {
    padding-top: 5vw;
    min-height: 100vh;
  }
  
  .users-parent {
    width: auto; 
  }
  .users-parent table {
    margin: auto;
  }
  
  
  .users-parent td {
    border: .01vh solid black;
    padding: .5em;
    color: #c28422;
    font-size: clamp(9px, 1.2vw, 20px);
    width: auto;
  }