{% extends "base.html" %} 

{% block title %}Profile{% endblock %} 
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}


<main>

    <div class="container mx-auto" style="max-width: 75%;">
  
  
  
  
      <div class="row justify-content-center">
        <div class="col-md-4">
            <img src="{{ url_for('static', filename='login.png') }}" class="form-img" alt="">  
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h1 class="text-center">Password Reset</h1>
          <h5 class="text-center">A password reset link will be sent to your email address.</h5>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-7">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
            
              {% for message in messages %}
                <p class="text-center"><span style="color: greenyellow;">{{ message }}</span></p>
              {% endfor %}
              
            {% endif %}
          {% endwith %}
        </div>
      </div>
      <hr>
      {% if "username" not in session %}
      <form action="#" method="post">
  
        <div class="row justify-content-center">
          <div class="col-md-7">
            <label for="floatingInput" class="formlabel">Email</label>
            <input type="email" class="form-control" id="floatingInput" placeholder="Email" name="em">
          </div>
        </div>
  
        <div class="row justify-content-center">
          <div class="col-md-3 mt-5">
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
          </div>
        </div>
  
      </form>
      {% endif %}
  
  
  
  
    </div>
  
      
      
  </main>




{% endblock  %}