{% extends "home.html" %} 

{% block title %}Home{% endblock %} 
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
    

<main class="users-wrapper">
    <div class="users-parent">
        <table>
            <tr><td class="id">ID</td><td class="name">NAME</td><td class="email">HASHED PASSWORD</td></tr>
            {% for user in usrs %}
            <tr>
                <td class="id">id = {{user.id}}</td><td class="name">name = {{user.username}}</td><td class="email">hashed_password = {{user.pw}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</main>

{% endblock  %}