{% extends "base.html" %} 

{% block title %}Home{% endblock %} 
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
    

<main class="container">
    {% if  'username' in session %}
        
    
        <table class="table table-dark table-hover table-bordered border-primary">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            {% for user in usrs %}
            <tbody>
                <tr>
                    <th scope="row">{{user.id}}</th>
                    {% if session['username'].upper() == user.username.upper() %}
                    <td class="table-active">{{user.username}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.email}}</td>                     
                    {% else %}                        
                    <td>*********</td>
                    <td>{{user.firstname}}</td> 
                    <td>{{user.lastname}}</td> 
                    <td>*********</td> 
                    {% endif %}                    
                                       
                </tr>
            </tbody>                
            {% endfor %}

            
        </table>
    {% else %}
    <h1 class="text-center mt-5">Please login to view the user list.</h1>
    {% endif %}
</main>

{% endblock  %}