{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}



{% endblock %}
{% block content %}



<main>

  <div class="container mx-auto" style="max-width: 75%;">




    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="h-25">
            <img src="{{ url_for('static', filename='login.png') }}" class="form-img" alt="">  
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h1 class="text-center">Login</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-7">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
          
            {% for message in messages %}
              <p class="text-center"><span style="color: greenyellow;">{{ message }}</span></p>
            {% endfor %}
            
          {% endif %}
        {% endwith %}
      </div>
    </div>
    <hr>
    {% if "username" not in session %}
    <form action="#" method="post">

      
    <div class="row justify-content-center">
      <div class="col-md-7">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}    
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-3 mt-5">
      {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
      <a href="/forgotpw">Forgot Password?</a>
    </div>
  </div>


    

    </form>
    {% endif %}




  </div>

    
    
</main>






<!-- <div class="row justify-content-center">
        <div class="col-md-7">
          <label for="floatingInput" class="formlabel-nm">Username</label>
          <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="nm">
          <label for="floatingInput" class="formlabel-em">Password</label>
          <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="pw">
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-3 mt-5">
          <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
           <a href="/forgotpw">Forgot Password?</a>
        </div>
      </div> -->
{% endblock %}