{% extends "home.html" %}

{% block title %}Login{% endblock %}
{% block head %}
    {{ super() }}



{% endblock %}
{% block content %}



<main class="loginmain">
<div class="logo">
    <img src="{{ url_for('static', filename='login.png') }}" alt="">
    <br><br><br>
</div>
<h1>Login</h1>
<div class="login">
    {% if "username" not in session %}
        <form action="#" method="post">
            <label for="floatingInput" class="formlabel-nm">Username</label>
            <input type="text" class="form-control" id="floatingInput" placeholder="Name" name="nm">
            <br>
            <label for="floatingInput" class="formlabel-em">Password</label>
            <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="pw">
            <br><br>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
        </form>
    {% endif %}

    {% if "username" in session %}
        <p class="logout"><a href="/logout"><button>Logout</button></a></p>
    {% endif %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    
        {% for message in messages %}
            <p class="msg">{{ message }}</p>
        {% endfor %}
        
    {% endif %}
    {% endwith %}

</div>



</main>

<!-- <form>
    <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form> -->













{% endblock %}