{% extends "base.html" %} 

{% block title %}Profile{% endblock %} 
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}


<main>

    <div class="container">
  
  
      {% with messages = get_flashed_messages() %}
						{% if messages %}
						
						{% for message in messages %}
							<p class="text-center"><span style="color: greenyellow;">{{ message }}</span></p>
						{% endfor %}
						
						{% endif %}
					{% endwith %}
  
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="h-25">
              <img src="{{ url_for('static', filename='login.png') }}" class="form-img" alt="">  
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h1 class="text-center">Attention</h1>
          <h5 class="text-center">You have not confirmed your account.</h5>
        </div>
      </div>
      <hr>
      
      <form action="#" method="post">
  
        <div class="row justify-content-center">
          <div class="col-md-5">
            <p class="text-center">Please check your inbox and spam folder.</p>
            <p class="text-center">Link expired or didn't get the email? <a href="/resend">Resend Email</a></p>
            <p class="text-center"></p>
          </div>
        </div>  
    </form>
      
  
  
  
  
    </div>
  
      
      
  </main>




{% endblock  %}