{% extends "base.html" %} 

{% block title %}Profile{% endblock %} 
{% block head %}
    {{ super() }}
    
{% endblock %}
{% block content %}
    

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
<div class="row">
		<div class="col-12">
			<!-- Page title -->
			<div class="my-4">
				<div class="row">
				<h3 class="col-2"> <img src="{{ url_for('static', filename='profile.png') }}" class="img-fluid" alt=""></h3>
				<h3 class="col-3 mx-4 mt-5"> Profile For - <span style="color: orange;">{{username.upper()}}</span></h3>
			</div>
				<hr>
			</div>
			<div class="row justify-content-center">
				<div class="col-4">
				  {% with messages = get_flashed_messages() %}
					{% if messages %}
					
					  {% for message in messages %}
						<p class="text-center"><span style="color: greenyellow;">{{ message }}</span></p>
					  {% endfor %}
					  
					{% endif %}
				  {% endwith %}
				</div>
			  </div>
			<!-- Form START -->
			<form action="#" method="post">
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Contact Details</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">First Name</label>
									<input type="text" class="form-control" placeholder={{firstname}} aria-label="First name" value="" name="fn">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Last Name</label>
									<input type="text" class="form-control" placeholder="{{lastname}}" aria-label="Last name" value="" name="ln">
								</div>								
								<!-- Email -->
								<div class="col-md-6">
									<label for="inputEmail4" class="form-label">Email *</label>
									<input type="email" class="form-control" id="inputEmail4" placeholder="{{email}}" value="" name="em">
								</div>
								
							</div> <!-- Row END -->
						</div>
					</div>

					<!-- change password -->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="my-4">Change Password</h4>
								<!-- Old password -->
								<div class="col-md-6">
									<label for="exampleInputPassword1" class="form-label">Old password *</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current Password" name="old-pw">
								</div>
								<!-- New password -->
								<div class="col-md-6">
									<label for="exampleInputPassword2" class="form-label">New password *</label>
									<input type="password" class="form-control" id="exampleInputPassword2" placeholder="New Password" name="new-pw1">
								</div>
								<!-- Confirm password -->
								<div class="col-md-12">
									<label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
									<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm New Password" name="new-pw2">
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center">
					<button type="button" class="btn btn-danger btn-lg">Delete profile</button>
					<button type="submit" class="btn btn-primary btn-lg">Update profile</button>
				</div>
			</form> <!-- Form END -->
		</div>
	</div>
	</div>

{% endblock  %}