{% extends "base.html" %} 

{% block title %}Profile{% endblock %} 
{% block head %}
    {{ super() }}

	<script>
		var myModal = document.getElementById('myModal')
		var myInput = document.getElementById('myInput')
		

		myModal.addEventListener('shown.bs.modal', function () {
  			myInput.focus()
		})

		
	</script>

	

	<script src="{{ url_for('static', filename='modalfunction.js') }}">

	</script>

{% endblock %}
{% block content %}
    

	

	

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
{% if "username" in session %}
	<div class="row">
		<div class="col-12 mt-5">
			<!-- Page title -->
			<form method="post" action="#" enctype='multipart/form-data'>
			
				<div class="row">
					<div class="col-md-3">
					
					{% if pic == 'null' %}
													
						<div class="btn" id="change_pic">
							<label for="formFile" class="form-label"><img src="{{ url_for('static', filename='profile.png') }}" class="form-img" alt=""></label>
							<input class="form-control d-none" type="file" name="file" value="file" id="formFile">
						</div>
						

					{% else %}

						<div class="btn" id="change_pic">
							<label for="formFile" class="form-label"><img src="{{ pic }}" class="form-img" alt=""></label>
							<input class="form-control d-none" type="file" name="file" value="file" id="formFile">
						</div>

					{% endif %}
					
					</div>
					<h3 class="col-md-6 mx-4 mt-5"> Profile For - <span style="color: orange;">{{username.upper()}}</span></h3>
				<hr>
				</div>
				<div class="row justify-content-center">
					<div class="col-4">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
						
						{% for message in messages %}
							<p class="text-center"><span style="color: greenyellow;">{{ message }}</span></p>
						{% endfor %}
						
						{% endif %}
					{% endwith %}
					</div>
				</div>
				<!-- Form START -->
				<div class="row mb-5 gx-5">
					<!-- Contact detail -->
					<div class="col-xxl-8 mb-5 mb-xxl-0">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Contact Details</h4>
								<!-- First Name -->
								<div class="col-md-6">
									<label class="form-label">First Name (optional)</label>
									<input type="text" class="form-control" placeholder='{{firstname}}' aria-label="Firstname" value="" name="fn">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">Last Name (optional)</label>
									<input type="text" class="form-control" placeholder='{{lastname}}' aria-label="Lastname" value="" name="ln">
								</div>
								<!-- Phone Number -->
								<div class="col-md-6">
									<label class="form-label">Phone Number [xxx-xxx-xxxx] (optional)</label>
									<input type="tel" class="form-control" placeholder='{{phone}}' aria-label="Phonenumber" value="" name="ph" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">
								</div>
								<!-- Last name -->
								<div class="col-md-6">
									<label class="form-label">LinkedIn (optional)</label>
									<input type="text" class="form-control" placeholder="{{linkedin}}" aria-label="Linkedin" value="" name="lk">
								</div>								
								
								
							</div> <!-- Row END -->
						</div>
					</div>
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="my-4">Change Email</h4>
								<!-- New email -->
								<div class="col-md-12">
									<label for="exampleInputEmail1" class="form-label">New Email</label>
									<input type="email" class="form-control" id="exampleInputEmail1" placeholder="New Email" name="em1">
								</div>
								<!-- Confirm email -->
								<div class="col-md-12">
									<label for="exampleInputEMail2" class="form-label">Confirm Email</label>
									<input type="email" class="form-control" id="exampleInputEmail2" placeholder="Confirm Email" name="em2">
								</div>
								
							</div>
						</div>
					</div>
					<!-- change password -->
					<div class="col-xxl-6">
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="my-4">Change Password</h4>
								<!-- Old password -->
								<div class="col-md-6">
									<label for="exampleInputPassword1" class="form-label">Old password</label>
									<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Current Password" name="old-pw">
								</div>
								<!-- New password -->
								<div class="col-md-6">
									<label for="exampleInputPassword2" class="form-label">New password</label>
									<input type="password" class="form-control" id="exampleInputPassword2" placeholder="New Password" name="new-pw1">
								</div>
								<!-- Confirm password -->
								<div class="col-md-12">
									<label for="exampleInputPassword3" class="form-label">Confirm Password</label>
									<input type="password" class="form-control" id="exampleInputPassword3" placeholder="Confirm New Password" name="new-pw2">
								</div>
							</div>
						</div>
					</div>
				</div> <!-- Row END -->
				<!-- button -->
				<div class="gap-3 d-md-flex justify-content-md-end text-center">
					<button type="button" class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#deleteWarning">Delete profile</button>
					<button type="submit" class="btn btn-primary btn-lg" name ="update" value="update">Update profile</button>
				</div>
			</form> <!-- Form END -->
			
		</div>
	</div>
  <!-- Modal -->
  <form action="#" method="post">
		<div class="modal fade" id="deleteWarning" tabindex="-1" aria-labelledby="deleteWarningLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="deleteWarningLabel"  style="color: black;">Delete Profile</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-12 mb-4">
								<label for="deleteuser" style="color: black;">Enter your username to confirm deletion.</label>
							</div>
							<div class="col">
								<input type="text" id="text-field" placeholder={{username}}>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-danger" id="delete" name="delete" value="delete">Delete Profile</button>
							<meta id="my-data" data-user={{username}}>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>

	{% else %}

		<h1 class="text-center mt-5">Login to change profile details.</h1>

	{% endif %}
</div>

{% endblock  %}